{% extends "auth/base.njk" %}

{% block main %}
  <h1 class="title is-3">
    Su cuenta ya se encuentra verificada
  </h1>
  <p>Intente iniciar sesión en su cuenta.</p>
  <br>
  <a href="{{ appUrl }}" class="button is-link">
    <i class="fas fa-home"></i>&nbsp;Ir a la página de inicio
  </a>

{% endblock %}
