{% extends "auth/base.njk" %}

{% block main %}
  <h1 class="title is-3 has-text-danger">
    <i class="fas fa-check-circle"></i>&nbsp;Error
  </h1>
  <p class="subtitle is-5">Token invalido</p>
  <p>No logramos encontrar un token valido para procesar su solicitud.</p>
  <p>Por favor, intente nuevamente.</p>
  <br>
  <a href="{{ appUrl }}" class="button is-link">
    <i class="fas fa-home"></i>&nbsp;Ir a la página de inicio
  </a>

{% endblock %}
