{% extends "auth/base.njk" %}

{% block main %}
  <h1 class="title is-3 has-text-success">
    <i class="fas fa-check-circle"></i>&nbsp;Su cuenta ha sido verificada
  </h1>
  <p class="subtitle is-5">¡Gracias por verificar tu cuenta!</p>
  <p>Ya puede iniciar sesión en su cuenta de <b>Incidir para Existir</b></p>
  <br>
  <a href="{{ appUrl }}" class="button is-link">
    <i class="fas fa-home"></i>&nbsp;Ir a la página de inicio
  </a>

{% endblock %}
